/* 
Mr Nguyen Duc Hoang
https://www.youtube.com/c/nguyenduchoang
Email: sunlight4d@gmail.com
DashboardComponent's private CSS styles 
*/
.col-1-4 {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 25%;
  }
[class*='col-']:last-of-type {
    padding-right: 0;
}
.movie-box {
    padding: 20px;
    text-align: center;
    color: #eee;
    max-height: 120px;
    min-width: 120px;
    background: mediumseagreen;
    border-radius: 20px;
}
.movie-box:hover {
    background: green;
    cursor: pointer;
    color: #eee;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} 
