<!-- 
Mr Nguyen Duc Hoang
https://www.youtube.com/c/nguyenduchoang
Email: sunlight4d@gmail.com
HTML template for "movies" component
-->
<h2>My favorite movies</h2>
<div class="parent">
    <ol class="movies">
        <li class="movieListItem" 
            *ngFor="let eachMovie of movies" 
            [class.selected]="eachMovie === selectedMovie" 
            (click)="onSelect(eachMovie)">
            {{eachMovie.name}} - {{eachMovie.releaseYear}}
        </li>
    </ol>
    <app-movie-detail [movie]="selectedMovie"></app-movie-detail>
</div>